.form .form-checkbox-wrapper{
    display: flex;
    align-items: center;
}

@media screen and (min-width: 900px) {
    main .form {
        padding: var(--spacing-ml);
    }

    main .form .field-wrapper {
        display: flex;
    }

    main .form label {
        width: 72%;
    }
}